$default_font_size: 15; // Unitless

@function gimme($size, $min) {
    @return calc(#{$min}px + #{$size}vw + #{$size}vh);
}

@for $i from 1 through 100 {
    .fz-#{$i} {
        font-size: #{$default_font_size + $i}px;
        width: gimme(3, $default_font_size);
        height: gimme(5, $default_font_size);
    }
}