.fz-1 {
  font-size: 16px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-2 {
  font-size: 17px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-3 {
  font-size: 18px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-4 {
  font-size: 19px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-5 {
  font-size: 20px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-6 {
  font-size: 21px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-7 {
  font-size: 22px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-8 {
  font-size: 23px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-9 {
  font-size: 24px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-10 {
  font-size: 25px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-11 {
  font-size: 26px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-12 {
  font-size: 27px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-13 {
  font-size: 28px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-14 {
  font-size: 29px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-15 {
  font-size: 30px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-16 {
  font-size: 31px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-17 {
  font-size: 32px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-18 {
  font-size: 33px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-19 {
  font-size: 34px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-20 {
  font-size: 35px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-21 {
  font-size: 36px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-22 {
  font-size: 37px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-23 {
  font-size: 38px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-24 {
  font-size: 39px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-25 {
  font-size: 40px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-26 {
  font-size: 41px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-27 {
  font-size: 42px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-28 {
  font-size: 43px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-29 {
  font-size: 44px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-30 {
  font-size: 45px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-31 {
  font-size: 46px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-32 {
  font-size: 47px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-33 {
  font-size: 48px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-34 {
  font-size: 49px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-35 {
  font-size: 50px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-36 {
  font-size: 51px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-37 {
  font-size: 52px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-38 {
  font-size: 53px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-39 {
  font-size: 54px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-40 {
  font-size: 55px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-41 {
  font-size: 56px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-42 {
  font-size: 57px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-43 {
  font-size: 58px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-44 {
  font-size: 59px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-45 {
  font-size: 60px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-46 {
  font-size: 61px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-47 {
  font-size: 62px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-48 {
  font-size: 63px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-49 {
  font-size: 64px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-50 {
  font-size: 65px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-51 {
  font-size: 66px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-52 {
  font-size: 67px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-53 {
  font-size: 68px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-54 {
  font-size: 69px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-55 {
  font-size: 70px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-56 {
  font-size: 71px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-57 {
  font-size: 72px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-58 {
  font-size: 73px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-59 {
  font-size: 74px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-60 {
  font-size: 75px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-61 {
  font-size: 76px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-62 {
  font-size: 77px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-63 {
  font-size: 78px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-64 {
  font-size: 79px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-65 {
  font-size: 80px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-66 {
  font-size: 81px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-67 {
  font-size: 82px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-68 {
  font-size: 83px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-69 {
  font-size: 84px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-70 {
  font-size: 85px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-71 {
  font-size: 86px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-72 {
  font-size: 87px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-73 {
  font-size: 88px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-74 {
  font-size: 89px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-75 {
  font-size: 90px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-76 {
  font-size: 91px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-77 {
  font-size: 92px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-78 {
  font-size: 93px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-79 {
  font-size: 94px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-80 {
  font-size: 95px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-81 {
  font-size: 96px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-82 {
  font-size: 97px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-83 {
  font-size: 98px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-84 {
  font-size: 99px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-85 {
  font-size: 100px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-86 {
  font-size: 101px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-87 {
  font-size: 102px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-88 {
  font-size: 103px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-89 {
  font-size: 104px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-90 {
  font-size: 105px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-91 {
  font-size: 106px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-92 {
  font-size: 107px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-93 {
  font-size: 108px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-94 {
  font-size: 109px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-95 {
  font-size: 110px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-96 {
  font-size: 111px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-97 {
  font-size: 112px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-98 {
  font-size: 113px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-99 {
  font-size: 114px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

.fz-100 {
  font-size: 115px;
  width: calc(15px + 3vw + 3vh);
  height: calc(15px + 5vw + 5vh); }

/*# sourceMappingURL=functions.css.map */
