@import 'base';

$NUM_SLIDES: 8;
$ANIMATION_DURATION: $NUM_SLIDES * 2;

.flex {
    display: flex;

    &-item {
        width: 25%;
        height: 25%;
        background-color: $LIGHT_BLUE;
        border: 1px dotted #888;
        font-size: 16pt;
        font-weight: 200;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-wrap {
        flex-wrap: wrap;
    }

    &-by-column {
        flex-direction: column;
    }

    &-by-row {
        flex-direction: row;
    }

    &-inline {
        display: inline-flex;
    }

    &-ai {
        &-fs {
            align-items: flex-start;
        }

        &-c {
            align-items: center;
        }

        &-fe {
            align-items: flex-end;
        }
    }

    &-jc {
        &-fs {
            justify-content: flex-start;
        }

        &-c {
            justify-content: center;
        }

        &-fe {
            justify-content: flex-end;
        }
    }
}

.slideshow-container {
    width: 100vw;
}

[class*="slide"] {
    margin: 3rem;
    position: absolute;
    opacity: 1;
}

@for $i from 1 through $NUM_SLIDES {
    .slide-#{$i} {
        .presentation .flex,
        .code {
            animation-delay: #{($NUM_SLIDES - ($i - 1)) * -($ANIMATION_DURATION/$NUM_SLIDES)}s;
        }
    }
}

.code, .presentation {
    display: inline-block;
    height: 70vh;
}

.code, .presentation .flex {
    animation: slideshow #{$ANIMATION_DURATION}s ease infinite;
}

.presentation {
    width: 50vw;
    border: 1px solid #888;
    padding: 15px;
}

.presentation .flex {
    height: 100%;
    width: 100%;
}

.code {
    width: 30vw;
    font-family: Roboto;
    font-size: 16pt;
}

@keyframes slideshow {
    0% {
        opacity: 1;
    }

    @for $i from 2 through ($NUM_SLIDES * 2) {
        #{($i - 1) * (100/($NUM_SLIDES * 2))}% {
            opacity: 0;
        }
    }

    100% {
        opacity: 1;
    }
}