@import 'base';

body {
	overflow-x: hidden;
}

.parallax {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	width: 100%;

	&-cover {
		font-size: 26pt;
		font-weight: 200;
		height: 400px;
		background-color: $GRAY;
	}
}
