@import 'base';

@media print {
    @page {
        margin: 0;
    }

    body {
        margin: 2cm;
    }

    body * { 
        visibility: hidden; 
        width: 0;
        height: 0;
    }
    
    .beautify-table {
        position: absolute;
        z-index: 1;
        top: 2cm;
        left: 2cm;
    }

    .beautify-table, .beautify-table * {
        visibility: visible;
        width: initial;
        height: initial;
    }
}

.beautify-table {
  table-layout: fixed;
  margin: auto;
  border-collapse: collapse;

  * {
    border-collapse: collapse;
  }

  td {
    font-size: 14pt;
  }

  th {
    font-size: 16pt;
  }

  td, th {
    min-width: 150px;
    text-align: center;
    padding: 5px 15px;
  }

  thead > th {
    border-right: 1px solid #ccc;
  }

  thead > th:last-child {
    border-right: none;
  }

  tr > td {
    border-top: 1px solid #ccc;
  }

  &.clickable-cells td:hover {
    cursor: pointer;
    background-color: #aaa;
    color: black;
    transition: .6s ease;
  }
}
