html {
  font-family: Lato;
  font-weight: 200;
}

body {
  padding: 0;
  margin: 0;
  background-color: #ddd;
  min-width: 100vw;
  min-height: 100vh;
}

main {
  margin-top: 72px;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  background-color: #6884D1;
  z-index: 10;
}

.navbar__title {
  margin: 0;
  position: relative;
  top: 0;
  left: 0;
  padding-top: 15px;
  padding-left: 30px;
  font-size: 3em;
  font-weight: 300;
  color: white;
}

.container {
  display: block;
  width: 75%;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 3px;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 1px 1px;
          box-shadow: 0px 1px 1px;
  padding: 15px;
  min-height: 240px;
}

.container__title {
  font-weight: 400;
  font-size: 16pt;
}

.container__subtitle {
  font-weight: 200;
  font-size: 13pt;
  color: #555;
}

.container__text {
  font-weight: 200;
  font-size: 13pt;
  color: #000;
}

.fullscreen-relative {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fullscreen-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.center {
  margin: auto;
}

.beautify-title {
  font-size: 25pt;
  font-weight: 400;
}

.animation-box {
  border: 1px dotted #444;
  width: 25vw;
  height: 25vh;
  padding: 15px;
  margin: 20px;
  display: inline-block;
}

.animation-box__title {
  margin: 0;
  font-size: 14pt;
  font-weight: 300;
  margin-bottom: 40px;
}

.effect-zoom {
  -webkit-transition: .6s ease;
  transition: .6s ease;
}

.effect-zoom:hover {
  -webkit-transition: .6s ease;
  transition: .6s ease;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  cursor: pointer;
}

.animate-rotate {
  -webkit-animation: infinite-rotation 4s linear infinite;
          animation: infinite-rotation 4s linear infinite;
}

.animate-rotate-fast-alternate {
  -webkit-animation: infinite-rotation 1s ease-in-out infinite alternate;
          animation: infinite-rotation 1s ease-in-out infinite alternate;
}

.animate-translate {
  -webkit-animation: infinite-translation 4s linear infinite;
          animation: infinite-translation 4s linear infinite;
}

.animate-flip {
  -webkit-animation: infinite-flipping 2s ease-in-out infinite;
          animation: infinite-flipping 2s ease-in-out infinite;
}

@-webkit-keyframes infinite-rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes infinite-rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes infinite-translation {
  from {
    -webkit-transform: rotate(0deg) translateX(25vw) rotate(0deg);
            transform: rotate(0deg) translateX(25vw) rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg) translateX(25vw) rotate(-360deg);
            transform: rotate(360deg) translateX(25vw) rotate(-360deg);
  }
}

@keyframes infinite-translation {
  from {
    -webkit-transform: rotate(0deg) translateX(25vw) rotate(0deg);
            transform: rotate(0deg) translateX(25vw) rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg) translateX(25vw) rotate(-360deg);
            transform: rotate(360deg) translateX(25vw) rotate(-360deg);
  }
}

@-webkit-keyframes infinite-flipping {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }

  50% {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }

  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes infinite-flipping {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }

  50% {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }

  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

