@import 'base';

$animation_box_width: 25vw;

.animation-box {
	border: 1px dotted #444;
	width: $animation_box_width;
	height: 25vh;
	padding: 15px;
	margin: 20px;
	display: inline-block;

	&__title {
		margin: 0;
		font-size: 14pt;
		font-weight: 300;
		margin-bottom: 40px;
	}
}

.effect {
	&-zoom {
		transition: .6s ease;

		&:hover {
			transition: .6s ease;
			transform: scale(1.2, 1.2);
			cursor: pointer;
		}	
	}
}

.animate {
	&-rotate {
		animation: infinite-rotation 4s linear infinite;

		&-fast {
			&-alternate {
				animation: infinite-rotation 1s ease-in-out infinite alternate;
			}
		}
	}

	&-translate {
		animation: infinite-translation 4s linear infinite;
	}

	&-flip {
		animation: infinite-flipping 2s ease-in-out infinite;
	}
}

@keyframes infinite-rotation {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes infinite-translation {
	from {
		transform: rotate(0deg) translateX($animation_box_width) rotate(0deg);
	}

	to {
		transform: rotate(360deg) translateX($animation_box_width) rotate(-360deg);
	}
}

@keyframes infinite-flipping {
	0% {
		transform: scaleX(1);
	}

	50% {
		transform: scaleX(-1);
	}

	100% {
		transform: scaleX(1);
	}
}