@import 'base';

$PURPLE: #6F43C4;
$ORANGE: #E74B00;
$YELLOW: #E7C400;
$BLACK: #000000;
$BLUE: #376EBA;

body {
	overflow-x: hidden;
}

.screen {
	&-dependent-background, &-size {
		transition: background-color .6s ease;
	}

	&-dependent-background {
		@media only screen and (max-width: 600px) {
			background-color: $PURPLE;
		}

		@media only screen and (min-width: 600px) {
			background-color: $BLACK;
		}

		@media only screen and (min-width: 768px) {
			background-color: $YELLOW;
		}

		@media only screen and (min-width: 992px) {
			background-color: $BLUE;
		}

		@media only screen and (min-width: 1200px) {
			background-color: $ORANGE;
		}
	}

	&-size::before {
		@media only screen and (max-width: 600px) {
			content: 'COMUNICAÇÃO';
			color: white;
		}

		@media only screen and (min-width: 600px) {
			content: 'NEGÓCIOS';
			color: white;
		}

		@media only screen and (min-width: 768px) {
			content: 'ADM-FIN';
			color: white;
		}

		@media only screen and (min-width: 992px) {
			content: 'DESENVOLVIMENTO HUMANO';
			color: white;
		}

		@media only screen and (min-width: 1200px) {
			content: 'PROJETOS MELHOR DIRETORIA';
			color: white;
		}
	}
}


/* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {
// 	.screen-dependent-background {
// 		background-color: $PURPLE;
// 	}

// 	.screen-size::before {
// 		content: 'COMUNICAÇÃO';
// 	}
// } 

/* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {
// 	.screen-dependent-background {
// 		background-color: $BLACK;
// 	}

// 	.screen-size::before {
// 		content: 'NEGÓCIOS';
// 	}
// } 

/* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {
// 	.screen-dependent-background {
// 		background-color: $YELLOW;
// 	}

// 	.screen-size::before {
// 		content: 'ADM-FIN';
// 	}
// } 

/* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {
// 	.screen-dependent-background {
// 		background-color: $BLUE;
// 	}

// 	.screen-size::before {
// 		content: 'DESENVOLVIMENTO HUMANO';
// 	}
// } 

/* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {
// 	.screen-dependent-background {
// 		background-color: $ORANGE;
// 	}

// 	.screen-size::before {
// 		content: 'PROJETOS MELHOR DIRETORIA';
// 	}
// }