html {
  font-family: Lato;
  font-weight: 200; 
}

body {
  padding: 0;
  margin: 0;
  background-color: #ddd;
  min-width: 100vw;
  min-height: 100vh; 
}

main {
  margin-top: 72px; 
}

main > div:first-child {
  margin-top: 102px;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit; 
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  background-color: #6884D1;
  z-index: 10; 
}

.navbar__title {
  margin: 0;
  position: relative;
  top: 0;
  left: 0;
  padding-top: 15px;
  padding-left: 30px;
  font-size: 3em;
  font-weight: 300;
  color: white; 
}

.container {
  display: block;
  width: 75%;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 3px;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  box-shadow: 0px 1px 1px;
  padding: 15px;
  min-height: 240px; 
}
.container__title {
  font-weight: 400;
  font-size: 16pt; 
}

.container__subtitle {
  font-weight: 200;
  font-size: 13pt;
  color: #555; 
}

.container__text {
  font-weight: 200;
  font-size: 13pt;
  color: #000; 
}

.fullscreen-relative {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
}

.fullscreen-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.center {
  margin: auto; 
}

.beautify-title {
  font-size: 25pt;
  font-weight: 400; 
}

[with-border] {
    border: 1px solid black;
}

[with-padding] {
    padding: 15px;
}

[with-margin-bottom] {
    margin-bottom: 20px;
}