@import '_base.css';

.display {
    border: 1px solid black;
    font-family: monospace;
    background-color: #ddd;
    font-size: 15pt;
    padding: 6px;
    margin: 30px 0;
}

.display--block {
    display: block;
}

.display--inline {
    display: inline;
}

.display--inline-block {
    display: inline-block;
}

.display--flex {
    display: flex;
    justify-content: center;
}

.display--none {
    display: none;
}

.square {
    width: 145px;
    height: 145px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

[class*="float"] {
    margin: 0 10px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-right {
    clear: right;
}

.clear-left {
    clear: left;
}

.clear-both {
    clear: both;
}

.clearfix::after { 
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}