@import '_base.css';

.container {
    font-size: 16pt;
}

[class~="code" i] {
    font-family: monospace;
    background-color: #ccc;
    padding: 15px 5px;
}

.paint-next-sibling + p {
    color: white;
    background-color: #6884D1;
}

.paint-siblings ~ p {
    color: white;
    background-color: #6884D1;
}

.paint-descendants p {
    color: white;
    background-color: #6884D1;
}

.paint-children > p {
    color: white;
    background-color: #6884D1;
}

/* 

[attr]
Represents an element with an attribute name of attr.

[attr=value]
Represents an element with an attribute name of attr whose value is exactly value.

[attr~=value]
Represents an element with an attribute name of attr whose value is a whitespace-separated list of words, one of which is exactly value.

[attr|=value]
Represents an element with an attribute name of attr whose value can be exactly value or can begin with value immediately followed by a hyphen, - (U+002D). It is often used for language subcode matches.

[attr^=value]
Represents an element with an attribute name of attr whose value is prefixed (preceded) by value.

[attr$=value]
Represents an element with an attribute name of attr whose value is suffixed (followed) by value.

[attr*=value]
Represents an element with an attribute name of attr whose value contains at least one occurrence of value within the string.

[attr operator value i]
Adding an i (or I) before the closing bracket causes the value to be compared case-insensitively (for characters within the ASCII range). 

*/