@import '_base.css';

/* 
    Default font size: 16px;
    px: Pixels;
    em: is the same as the font-size of the current element (more specifically, the width of a capital letter M.)
    mm, cm, in: Millimeters, centimeters, or inches.
    pt, pc: Points (1/72 of an inch) or picas (12 points.)
    vw, vh: Respectively these are 1/100th of the width of the viewport, and 1/100th of the height of the viewport. Again, these are not as widely supported as rems.
    ex, ch: Respectively these are the height of a lower case x, and the width of the number 0. These are not as commonly used or well-supported as ems.
    line-height: Unitless. Represents a relative size for the line, e.g. a paragraph with font-size os 16px and line-height of 1.5 will result in a 24px line height;
    %: A percentage of the same attribute of the parent element;
 */

.two-em {
  font-size: 2em;
}

.one-five-em {
  font-size: 1.5em;
}

.two-ex {
  font-size: 2ex;
}

.one-five-ex {
  font-size: 1.5ex;
}

.one-lh, .two-lh {
  border: 1px solid black;
}

.one-lh {
  line-height: 1;
}

.two-lh {
  line-height: 2;
}

[class*=percent],
[class*=vw] {
  margin: 0 0 15px 0;
  border: 1px solid black;
  display: inline-block;
  text-align: center;
}

.twenty-percent {
  width: 20%;
}

.thirty-percent {
  width: 30%;
}

.thirty-vw {
  width: 30vw;
}

.absolute-constant {
  font-size: calc(2vw + 2vh);
}

.minimum-size {
  font-size: calc(8pt + 4vw);
}